.btn-group{text-align: right;}

.article-box{
    padding:10px;
    font-size:14px;
    .main-floor{

    }
}

.floor{

    .personInfo{
        width:20%;
        min-height:60px;
        &:nth-child(odd){
            background-color: #ffedc3;
        }
        &:nth-child(even){
            background-color: #fff6df;
        }
    }

    .content{
        min-height:60px;
        width:80%;
        text-align: left;
        &:nth-child(odd){
            background-color: #fff6df;
        }
        &:nth-child(even){
            background-color: #ffedc3;
        }
        p{
            font-weight: bold;
        }
    }
}

